


html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/* CSS Variables */ 

:root{
    --title-color: #969696;
    --text-color: #645f5f;    
    --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.246);
    --box-shadow: 10px 10px 20px rgba(69, 69, 69, 0.53);
   

    /* font family variables. */ 
    --roboto: 'Roboto', cursive;
} 
 